Source: example-package
Section: metapackages
Priority: standard
Maintainer: Jesus Palencia <sinfallas@gmail.com>
Build-Depends: debhelper, cdbs
Standards-Version: 3.9.6
Homepage: https://xanadulinux.wordpress.com

Package: example-package
Architecture: all
Depends: base-files, ${misc:Depends}, ${shlibs:Depends}, ${perl:Depends}
Replaces: dnsmasq,
Recommends: xanadu-info
Description: basepack
 Config files for use in xanadu
