Source: example-package
Section: metapackages
Priority: standard
Maintainer: Jesus Palencia <sinfallas@gmail.com>
Build-Depends: debhelper, cdbs
Standards-Version: 3.9.6
Homepage: https://sinfallas.wordpress.com

Package: example-package
Architecture: all
Depends: base-files, ${misc:Depends}, ${shlibs:Depends}, ${perl:Depends}
Replaces: dnsmasq
Recommends: tor
Description: example
 Example package
